.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    align-items: center;
}

video {
    width: 100vw;
}

.content button{
    background-color: #FFB562;
    width: 30vw;
    height: 100px;
    text-align: center;
    font-size: large;
    border: #FFB562;
    border-radius: 15px;
    transition: .2s;
}

.content button:hover {
    filter: brightness(.95);
    transform: scale(.95);
    transition: .2s;
    cursor: pointer;
}

footer {
    width: 100%;
}
