.hero {
    background-image: url('../assets/hero_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15rem;
    display: flex;
    padding: 3rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    align-items: center;
    justify-content: flex-end;
}

/* Ha 800px alatt van az oldal */
@media screen and (max-width: 800px) {
    .ajanlat .kuli-card:last-child {
        display: none;
    }
}

/* Ha 800px alatt van  az oldal */
@media screen and (max-width: 600px) {
    .ajanlat .kuli-card:first-child {
        display: none;
    }
}

.hero .ismerteto {
    background-color: rgba(0, 0, 0, .5);
    width: 50%;
    padding: 1.5rem;
    height: fit-content;
    box-sizing: border-box;
    color: white;
    border-radius: 15px;
}

.terkep {
    padding: 5rem;
    width: 100vw;
    box-sizing: border-box;
}

.terkep img {
    width: 100%;
}

.biztatas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biztatas h1 {
    color: #3AB0FF;
}

.ajanlat-wrapper {
    padding: 5rem;
}

.ajanlat {
    padding: 2rem;
    background-color: #FFB562;
    border-radius: 10px;
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
    display: flex;
    flex-direction: column;
}

.ajanlat h1 {
    color: white;
    margin-bottom: 1rem;
}

.ajanlat .cardok {
    display: flex;
    gap: 1rem;
}

.kuli-card {
    display: flex;
    flex-direction: column;
    background-color: #F9F2ED;
    border-radius: 15px;
    flex: 1 1 0px;
}

.kuli-card .kep {
    content: "";
    position: relative;
    display: block;
    min-width: 100px;
    height: 150px;
    background-color: #3AB0FF;
    background-image: url('../assets/henrykettner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: 1rem;
}

.kuli-card .fajta {
    padding: 0 0 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.kuli-card .tulajdonsagok {
    display: flex;
    flex-wrap: wrap;
}

.kuli-card hr {
    margin: 1rem;
}

.kuli-card .tulajdonsagok span {
    /* flex-basis */
    flex: 0 0 50%;
    box-sizing: border-box;
}

.kuli-card .tulajdonsagok span:nth-child(odd) {
    /* padding bal oldalra */
    padding: 0 0 0 1rem;
    font-weight: bold;
}

.kuli-card .tulajdonsagok span:nth-child(even) {
    /* padding jobb oldalra */
    padding: 0 1rem 0 0;
    text-align: end;
}

.kuli-card button {
    background-color: #f87474;
    color: white;
    border: none;
    padding: .2rem .5rem .2rem .5rem;
    border-radius: 100px;
    align-self: center;
    justify-self: center;

    /* fent meg lent 1rem, bal-jobbra pedig automatikus margin */
    margin: 1rem auto;
}
